.wrapper {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

#header {
    width: auto;
    height: auto;
}

#message {
    background-color: rgb(245, 245, 160);
    border: 2px solid azure;
    border-radius: 30px;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
}