.wrapper {
    opacity: 0.95;
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    overflow: hidden;
}

#header1 {
    text-align: center;
    width: auto;
    height: 70%;
    overflow: auto;
    background-color: rgb(201, 196, 191);
    border-radius: 20px;
}

#message {
    background-color: antiquewhite;
    border: 2px solid azure;
    border-radius: 30px;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: auto;
}